body {
	-webkit-font-smoothing:antialiased;
	width: 80%;
	max-width: 480px;
	margin: 0 auto;
	background: #f8f8f8;
	word-wrap: break-word;
}

body, input, button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #444;
}
*:disabled {
	color: #888;
}

h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 200;
}

h2 {
	font-size: 2em;
	font-weight: 200;
}

li {
	list-style: none;
	padding: 5px;
}

[ng-click] {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.item {
	list-style-type: disc;
}
.QUEUED {
	color: black;
}
.RUNNING {
	color: yellow;
}
.SUCCESS {
	color: green;
}
.ERROR {
	color: red;
}

.WARNING {
	color: white;
	background-color: red;
	padding: 10px;
}

li > .checkbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: white;
	margin-right: 8px;
	border-radius: 2px;
	border: 1px #ddd solid;
}
li.ERROR > .checkbox {
	background: #888;	
}

.rounded-box {
	padding: 10px;
	border-radius: 4px;
	border: 1px #ddd solid;
}

.grey {
	background: #eee;
}

.charcoal {
	color: #fff;
	background: #444;
}
