body {
	-webkit-font-smoothing:antialiased;
	width: 80%;
	max-width: 480px;
	margin: 0 auto;
	background: #f8f8f8;
}

body, input, button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #444;
}
*:disabled {
	color: #888;
}

h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 200;
	height: 70px;
}

h2 {
	font-size: 2em;
	font-weight: 200;
}

li {
	list-style: none;
	padding: 5px;
}
li.done {
	color: #888;
	text-decoration: line-through;
}