<!doctype html>
<html lang="en" ng-app="downApp">

<head>
  <title>download</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
  <script src="download.js"></script>
  <link rel="stylesheet" href="download.css">
</head>

<body>
  <div class="container" ng-controller="DownCtrl">
    <h1 class="charcoal rounded-box">download</h1>
    <h2 class="ERROR" ng-show="{{retError == ''}}">{{retError}}</h2>
    <form>
      <input type="text" class="rounded-box" placeholder="Name" ng-model="downName">
      <span ng-repeat="h in hooks">
        <label class="checkbox" for="{{h}}">
          <input type="checkbox" name="hooks" value="{{h}}" id="{{h}}" ng-model="downHooks[h]">{{h}}
        </label>
      </span>
      <br />
      <textarea name="links" cols="60" rows="10" placeholder="Links" ng-model="downLinks"></textarea>
      <button class="grey rounded-box" ng-click="addDownload()" ng-disabled="working">Get Down</button>
    </form>

    <h2>downloads</h2>

    <ul class="grey rounded-box">
      <li ng-repeat="d in downs"> <span ng-click="toggleVisibility(d)" class="{{d.Status}}">{{moreOrLess(d)}} {{d.Name}}</span>
        <div ng-show="visible[d.ID]">
          <ul>
            <li><strong>Status:</strong> <span class="{{d.Status}}">{{d.Status}}</span></li>
            <li><strong>Errors</strong></li>
            <ul>
              <li ng-repeat="e in d.Errors" class="item">{{e}}</li>
            </ul>
            <li><strong>Hooks:</strong> {{d.Posthook}}</li>
            <li><strong>Links</strong></li>
            <ul>
              <li ng-repeat="l in d.Links" class="item"><a href="{{l.URL}}" class="{{l.Status}}">{{l.URL}}</a></li>
            </ul>
            <li><span class="WARNING" ng-click="delDownload(d)">DELETE</span></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>